.phone-info.footer {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #D8D8D8;
}

.other-info {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #D8D8D8;
}